body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;
    color: #fff;
    background: linear-gradient(-45deg, hsl(0, 47%, 49%), hsl(282, 59%, 44%), hsl(323, 68%, 44%), hsl(263, 77%, 52%));
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

main {
    flex: 1;
/*    background-color: black;*/
    display: flex;
    width: 400vw;
    position: relative;
    transition: left 0.5s ease-out;
}

.page {
    width: 100vw;
    opacity: 0;
    transition: opacity 0.2s;
}

.active-page {
    opacity: 1;
}

.content-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
    
}

.show-page-1 {
    left: 0;
}

.show-page-2 {
    left: -100vw;
}

.show-page-3 {
    left: -200vw;
}

.show-page-4 {
    left: -300vw;
}

#landing-page {
/*    background-color: blue;*/
}

#input-page {
/*    background-color: red;*/
}

#logo-container {

    max-width: 600px;
    margin: 4rem auto 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

#main-logo {

    max-width: 80%;
    flex-grow: 1;

}

#tagline {

    font-weight: bold;
    flex-shrink: 0;
    margin-left: 0.7rem;
    opacity: 0.6;
    cursor: default;

}

#loading-msg-container {
    margin-top: 20%;
}

p {

    margin: 0 0 1em;

}

p:last-of-type {

    margin-bottom: 2em;

}

a {

    text-decoration: inherit;
    color: black;

}

a:hover {

    text-decoration: underline;

}

footer {
    margin: 1em 0 2em;
}

footer a {

    color: white;
    align-self: flex-start;

}

footer a:hover {

    text-decoration: none;

}

footer svg {

    height: 1.7em;
    position: relative;
    top: 0.5em;
    fill: white;

}

form {

    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    width: 25em;
    align-items: flex-start;

}

a:focus,
input:focus {

    outline: none;

}

input {
    font-family: inherit;
    font-size: 1rem;
    padding: 0.9em;
    border: 1px solid transparent;
    border-radius: 2em;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    flex: 1;
    min-width: 60%;
    margin-bottom: 1em;
    
}

input:hover {
    
    background-color: hsl(205, 60%, 90%);
    
}

input:focus {

    background-color: rgba(50, 138, 201, 0);
    border: 1px solid white;
    color: white;

}

input::placeholder {
    
    transition: color 200ms;
    
}

input:focus::placeholder {
    
    color: #bcbcbc;
    
}

button {
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-left: 1em;
    padding: 0.9em;
    border: 1px solid transparent;
    border-radius: 2em;
    transition: background-color 200ms, color 200ms, border-color 200ms;
    color: white;
    background-color: black;

}

#input-page button {
    width: 6em;
}

#landing-page button {
    padding: 0.9em 2em;
}

button:focus {

    outline: none;
    border-color: white;

}

button:hover {

    background-color: #328AC9;
    cursor: pointer;

}

button:active {

    background-color: hsl(205, 60%, 30%);
    border: 1px solid transparent;

}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@media (max-width: 620px) {

    .content-container {

        width: 100%;
        padding: 0 1.2rem;

    }

    #logo-container {

        margin: 2rem 0;
        padding: 0 1.2rem;

    }

    #tagline {

        display: none;

    }
    
    #main-logo {
        
        max-width: 100%;
        margin: 0;
        
    }

/*
    p {

        margin: 0 0 0.7em;

    }

    p:last-of-type {

        margin-bottom: 1.5em;

    }
*/

    form {

        width: 95%;
        justify-content: flex-end;

    }

    footer {

/*        margin: 1.5rem 0 1.5rem;*/
        align-self: center;

    }

}