body {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;

    color: #fff;
    background: linear-gradient(-45deg, hsl(0, 47%, 49%), hsl(282, 59%, 44%), hsl(323, 68%, 44%), hsl(263, 77%, 52%));
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;

}

.container {

    margin: 0 auto;
    height: 100vh;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#logo-container {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 3rem;

}

#main-logo {

    max-width: 80%;
    flex-grow: 1;

}

#tagline {

    font-weight: bold;
    flex-shrink: 0;
    margin-left: 0.7rem;
    opacity: 0.6;
    cursor: default;

}

p {

    margin: 0 0 1em;

}

p:last-of-type {

    margin-bottom: 2em;

}

a {

    text-decoration: inherit;
    color: black;

}

a:hover {

    text-decoration: underline;

}

form {

    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    width: 25em;
    align-items: flex-start;

}

a:focus,
input:focus,
button:focus {

    outline: none;

}

input,
button {
    font-family: inherit;
    font-size: 1rem;
    padding: 0.9em;
    border: 1px solid transparent;
    border-radius: 2em;
    transition: background-color 200ms, color 200ms, border-color 200ms;
}

input {

    flex: 1;
    min-width: 60%;
    margin-bottom: 1em;
    
}

input:hover {
    
    background-color: hsl(205, 60%, 90%);
    
}

input:focus {

    background-color: rgba(50, 138, 201, 0);
    border: 1px solid white;
    color: white;

}

input::placeholder {
    
    transition: color 200ms;
    
}

input:focus::placeholder {
    
    color: #bcbcbc;
    
}

button {

    font-weight: bold;
    letter-spacing: 0.04em;
    margin-left: 1em;
    width: 6em;
    color: white;
    background-color: black;

}

button:focus {

    border-color: white;

}

button:hover {

    background-color: #328AC9;
    cursor: pointer;

}

button:active {

    background-color: hsl(205, 60%, 30%);
    border: 1px solid transparent;

}

footer {

    align-self: flex-start;
    margin: auto 0 2rem;
    display: flex;
    align-items: center;

}

footer svg {

    height: 1.7em;
    position: relative;
    top: 0.5em;
    fill: white;

}

footer a {

    color: white;

}

footer a:hover {

    text-decoration: none;

}


@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@media (max-width: 620px) {

    .container {

        width: 100%;

    }

    body {

        padding-left: 1.2rem;
        padding-right: 1.2rem;

    }

    #logo-container {

        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 0 0.5rem;

    }

    #tagline {

        display: none;

    }
    
    #main-logo {
        
        max-width: 100%;
        margin: 0;
        
    }

    p {

        margin: 0 0 0.7em;

    }

    p:last-of-type {

        margin-bottom: 1.5em;

    }

    form {

        width: 95%;
        justify-content: flex-end;

    }

    footer {

        margin: 1.5rem 0 1rem;
        align-self: center;

    }

}
